/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom Styling */

* {
    font-family: 'Oswald', sans-serif;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0 ,0.3), rgba(0,0,0,0.3)),
                      url('../assets/space.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header {
    font-family: 'Oswald', sans-serif;
    letter-spacing: -3px;
    background: rgb(235, 30, 37, .9);
    padding: 35px;
    text-align: center;
    font-size: 50px;
    font-weight: 800;
}

main {
    flex: 1;
    align-self: center;
    letter-spacing: -.3px;
}

.get-character {
    text-align: center;
    height: 200px;
    width: 400px;
    border: 3px solid #EC1D23;
    border-radius: 7px;
    box-shadow: 3px 2px 2px #EC1D23;
    margin-top: 20vh;
    padding: 15px;
    line-height: 30px;
    background-color: rgb(254,255,215);
    color: rgb(56, 56, 56);
    font-size: 18px;
}

.character-name {
    width: 170px;
}

.submit {
    background: #EC1D23;
    color: whitesmoke;
    border: 1px solid rgb(56, 56, 56);
    letter-spacing: normal;
    font-weight: 800;
    text-shadow: 1px 1px 1px black;
    cursor: pointer;
}

input, button {
    border-radius: 4px;
    font-size: 15px;
}

.char-card {
    border: px solid #EC1D23;
    color: rgb(56, 56, 56);
    width: 720px;
    height: 435px;
    padding: 20px;
    gap: 5px;
    line-height: 25px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    background: rgb(254,255,215);
    margin-top: 15vh;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    align-content: flex-start;
    justify-content: flex-end;
    width: 20px;
    cursor: pointer;
}

ul {
    width: 325px;
    background: whitesmoke;
    padding: 5px;
    box-shadow: 4px 4px 2px rgb(56, 56, 56);
    border: 1px solid rgb(56, 56, 56);
}

li {
    padding: 3px;
}

.char-picture {
    width: 290px;
    border: 2px solid rgb(56, 56, 56);
    box-shadow: 4px 4px 2px rgb(56, 56, 56);
}

header, a {
    color: whitesmoke;
}

a {
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 20px;
    background: rgb(235, 30, 37, .9);
}